a:link {text-decoration: none; color:#000000;}
a:visited {text-decoration: none; color:#000000;}
a:active {text-decoration: none; color:#000000;}
a:hover {text-decoration: none; color:#000000;}


body {
	color: #FFF0A5;
    background-color: #ff585d;
    
}

.button{
	background-color: transparent;
	border:none;
}