a:link {text-decoration: none; color:#000000;}
a:visited {text-decoration: none; color:#000000;}
a:active {text-decoration: none; color:#000000;}
a:hover {text-decoration: none; color:#000000;}


body {
	color: #FFF0A5;
    background-color: #F38181;
    font-family: 'Open Sans', Futura,Helvetica, Arial, sans-serif;
    
}

table{
	 border:1px solid black;
	 width:800px;
	 height:800px;
	 margin:auto;
	 text-align:center; 
	 border-collapse:collapse;
}

.button{
	margin:auto;
	background-color: transparent;
	border:none;
}


.foodbox{
	margin: 100px;
	color:#feb64a
}