a:link {text-decoration: none; color:#000000;}
a:visited {text-decoration: none; color:#000000;}
a:active {text-decoration: none; color:#000000;}
a:hover {text-decoration: none; color:#000000;}


body {
	color: #FFF0A5;
    background-color: #ff585d;
    
}

table{
	 border:1px solid black;
	 width:800px;
	 height:800px;
	 margin:auto;
	 text-align:center; 
	 border-collapse:collapse;
}

.button{
	background-color: transparent;
	border:none;
}

.tr{
	
}

col.colgr{
	border-right:2px solid black;
}